@import url('../css/abstracts/index.css');
@import url('../css/bases/index.css');
@import url('../css/components/index.css');
@import url('../css/layouts/index.css');


body {
    background-color: var(--primary-color);

    font-family: var(--body-font);

}

#navbar {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

.header-text {
    position: relative;
}

.opacidad {
    opacity: 0.3;
}

.overlay-text {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    text-align: center; 
    padding-left: 20px; 
    color: var(--neutral-color-dark)
}

.text-left {
    text-align: left;  
}

.single-about-img {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

header {
    background-color: var(--primary-color);
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    color: var(--contrast-color);
    font-size: 1.5rem;
}

.content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.card-text {
    text-align: justify;
}

.custom-card {
    position: relative;
    background-color: var(--contrast-color);
}

.card-body {
    position: relative;
    z-index: 1; 
    background-color: var(--neutral-color-light)
}

h5 {
    color: var(--neutral-color-dark);
}

.custom-bg {
    background-color: var(--contrast-color)
}

.btn {
    background-color: var(--contrast-color);
    color: var(--neutral-color-dark); 
    border: none; 
}

.btn:hover {
    background-color: #ff5733;
    transform: scale(1.2); 
}
.form-container {
    width: 100%;
    max-width: 600px;
}

.social-item {
    display: flex;
    align-items: center; 
    gap: 10px; 
    padding: 10px;
}