@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

:root {
    /*Paleta de colores*/
    --primary-color: #F0EBE3;

    --secondary-color200: #E3F4F4;
    --secondary-color500: #D2E9E9;
    --secondary-color600: #C4DFDF;

    --contrast-color: #FFE6E6;

    --neutral-color-light: #edede9;
    --neutral-color-dark: #424242;

    /*Tipografia */

    --title-font: Roboto, Verdana, sans-serif;
    --body-font: Montserrat, Helvetica, sans-serif;

    --font-bold: bold;
}